@import "tailwindcss";

/* Custom styles go BELOW here */
html {
  scroll-behavior: smooth;
}

/* Hide the scrollbar (scroll indicator) but keep scrolling enabled */
html,
body {
  -ms-overflow-style: none; /* IE/Edge legacy */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Edge */
}
body {
  @apply bg-black text-white;
}